ion-modal {
    --border-radius: 7px;
}

ion-modal.custom-modal {
    --height: auto;
    --max-height: 80vh; 
}

.modal-header ion-title {    
    font-size: 16px;
    font-weight: 500;
    color: var(--color19);
	padding-left: 13px;
}

.modal-header ion-toolbar {
    --background: var(--gradient2);
    border-bottom: 1px solid var(--color20);
    --min-height: 34px;
    padding-right: 10px;
}

.pageOptions .close {
    padding-right: 0;
    display: inline-block;
    background-color: var(--color21);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    text-align: center;
}

.pageOptions .close svg {
    width: 11px;
    fill: var(--color22);
}

ion-modal.custom-modal .ion-page {
    position: relative;
    display: block;
    contain: content;
}

ion-modal.custom-modal .ion-page .modal-body {
    max-height: 70vh; /* Adjusted to allow for header and padding */
    overflow: auto;
    padding: 0px 15px 0px 0px;
}